# build and cache
cache/
out/
zkout/

# general
.env

# editors
.idea
.vscode

# Vs code spelling extension
cspell.json

# well, looks strange to ignore package-lock, but we have only prettier and it's temporary
package-lock.json
node_modules

# ignore foundry deploy artifacts
broadcast/
